{% load static %}
<!DOCTYPE html>
<html>  
<head>
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Ingresar Los Datos del Laboratorio</h1>
    <form method="POST">
        {% csrf_token %}
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                        {{ form.nombre }}
                    </td>
                    <td>
                        <label for="{{ form.ciudad.id_for_label }}">Ciudad:</label>
                        {{ form.ciudad }}
                    </td>
                    <td>
                        <label for="{{ form.pais.id_for_label }}">País:</label>
                        {{ form.pais }}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Crear</button>
    </form>
    <section>
        <a href="/laboratorio/laboratorio/list">Ir a información de los laboratorios--></a>
    </section>
</body>
</html>


